/* Pilihan warna dan font */
:root {
  --primary-color: #2d4059;
  --secondary-color: #ea5455;
  --bg-color: #f7fff7;
  --text-color: #2d4059;
  --font-family: 'Segoe UI', sans-serif;
}

/* Style untuk body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

/* Style untuk form login */
form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

/* Style untuk judul */
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}

/* Style untuk label */
label {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Style untuk input */
input[type="text"],
input[type="password"] {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: #f1f1f1;
}

/* Style untuk tombol login */
input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

/* Style saat cursor mengarah ke tombol login */
input[type="submit"]:hover {
  background-color: #b94047;
}
