<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Mahasiswa</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Daftar Mahasiswa</h1>
    <div>
      <a href="/home" style="display: block; margin-bottom: 10px"
        >Kembali ke home</a
      >
      <a href="/result" style="display: block">Lihat Hasil VIKOR</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>IPK</th>
          <th>Organisasi</th>
          <th>Keaktifan</th>
          <th>Kepemimpinan</th>
        </tr>
      </thead>
      <tbody>
        {% for m in mahasiswa %}
        <tr>
          <td>{{ m.id }}</td>
          <td>{{ m.nama }}</td>
          <td>{{ m.nilai_ipk }}</td>
          <td>{{ m.nilai_organisasi }}</td>
          <td>{{ m.nilai_keaktifan }}</td>
          <td>{{ m.nilai_kepemimpinan }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
